<div>
  <mat-toolbar color="primary">
    <span>FeastFreedom</span>
    <div class="spacer"></div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="openKitchenRegisterDialog()">Provider Register</button>
      <button mat-menu-item (click)="openUserRegisterDialog()">User Register</button>
      <button mat-menu-item (click)="openLoginDialog()">Login</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="!authService.getIsLoggedIn(); else loginMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-template #loginMenu>
      <mat-menu #loginMenuItem="matMenu">
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
      <span>{{authService.getUsername()}}</span>
      <button mat-icon-button [matMenuTriggerFor]="loginMenuItem">
        <mat-icon>account_circle</mat-icon>
      </button>
    </ng-template>
  </mat-toolbar>
</div>
